[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
server = "python manage.py runserver"
mkmigration = "python manage.py makemigrations"
migrate = "python manage.py migrate"